.button {
    padding: 14px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
}

.button-blue {
    background-color: #0744af;

    &:hover {
        background-color: #0745af96;
    }
}

.button-black {
    background-color: black;

    &:hover {
        background-color: rgba(0, 0, 0, 0.623);
    }
}

.button-white {
    background-color: white;
    color: black;
    font-weight: normal;
    letter-spacing: 2px;
}

// Filter Button
.filter-button {
    background-color: white;
    border: 1px solid #626364;
    color: #626364;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
}

.filter-button:hover {
    background-color: #0744af;
    color: white;
    border: 1px solid #0744af;
}

.filter-button-active {
    background-color: #0744af;
    color: white;
    border: 1px solid #0744af;
}